---
import PublicShell from '../components/public/PublicShell.astro'
import DailyLoopSection from '../components/public/landing/DailyLoopSection.astro'
import FinalCtaSection from '../components/public/landing/FinalCtaSection.astro'
import HeroSection from '../components/public/landing/HeroSection.astro'
import ModulesSection from '../components/public/landing/ModulesSection.astro'
import WhySection from '../components/public/landing/WhySection.astro'
---

<PublicShell>
  <main>
    <HeroSection />
    <WhySection />
    <ModulesSection />
    <DailyLoopSection />
    <FinalCtaSection />
  </main>
</PublicShell>
